/* 
.divmain{
  width: 100%;
  height: 100vh;
 background-color: #edf3f3;
 display: flex;
 justify-content: center;
 align-items: center;

}
.submain{
  width: 60%;
  height:85vh;
  margin: auto;
  border-radius: 7px;
  
  display: flex;
}
.div1{
  width: 50%;
  height:80vh;
  border-radius: 7px;
  background-size: contain;
 
}
.div2{
  width: 50%;
  height: 80vh ;
  background-color: #f5f7f6;
 
}
.register{
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  background: transparent;
  transition: all 0.8s;
  border: none;
 
}
.div-register{
 display: flex;
 justify-content: center;
 padding: 15px;
}
.register:hover {
          background-color: red;
          color: white;
          transform: scaleX(120%);
     }
.divsign{
  padding-top: 30px;
}
.reg{
  text-align: center;
  padding-top: 10px;
} */