/* .nav {
	height: 2rem !important;
	justify-content: space-between;
} */
/* button {
	height: 2rem;
	width: rem;
	border-left: 1px solid #f5f7f6;
	border-right: 1px solid #f5f7f6;
	border-top: none;
	border-bottom: none;
	background-color: white;
	font-weight: 300;
}*/
a:hover {
	color: #427ad9 !important;
	/* background-color: #f5f7f6; */
} 
input {
	background-color: #f5f7f6 !important;
	height: 4rem;
	box-shadow: none !important;
	border: none !important;
}

