nav {
	margin:0 1.5rem;
	border-bottom:1px solid lightgrey;
}
/* button {
	height: 2rem;
	width: rem;
	border-left: 1px solid #f5f7f6;
	border-right: 1px solid #f5f7f6;
	border-top: none;
	border-bottom: none;
	background-color: white;
	font-weight: 300;
}*/
a:hover {
	color: #427ad9 !important;
	/* background-color: #f5f7f6; */
} 

button:hover {
	color: #427ad9;
	background-color: #f5f7f6;
} */
form{
	width:25rem;
}
input {
	background-color: #f5f7f6 !important;
	height: 3rem;
	box-shadow: none !important;
	border: 1px solid lightgrey;
}
.input:hover{
	border:1px solid lightgrey!important;
	outline:0px;
	box-shadow:0 0 5px lightgrey!important;
}
.input:focus{
	border:1px solid lightgrey!important;
	outline:0px;
	box-shadow:0 0 5px lightgrey!important;
	width: 350px;
}
